################################################################################
#
#   File patterns for git to ignore
#
################################################################################

# Temporary build files
build/*
