################################################################################
#
#   File patterns for git to ignore
#
################################################################################
