################################################################################
#
#   File patterns for git to ignore
#
################################################################################

# Compiled Python modules
*.pyc
*.pyo
*.pyd
*.so

# Temporary build files
build/*
